<% block_login = view(:block).new(width: 'third', custom_class: 'flying-block login-block active') %>
<% block_pwd = view(:block).new(width: 'third', custom_class: 'flying-block recover-block') %>

<div id="admin-wrapper">
  <div class="main-content">
    <% # Stampa i flash ricevuti dai controller %>
    <%= render 'lato_view/layout/flash' %>

    <!-- Blocco Login Utente -->
    <%=raw block_login.open %>
	  <%= CORE_LANG['superusers']['set_new_password_for']%> <%= params[:email]%>
      <%= form_tag(lato_core.exec_change_password_path, method: "post", class: 'lato-form') do %>

       <%=raw view(:input).new(type: 'password',
                           name: 'password')
                            %>

       <input type="hidden" value="<%= params[:email]%>" name="email">
       <input type="hidden" value="<%= params[:token]%>" name="token">

        <%= submit_tag(CORE_LANG['vocabolary']['save'], class: 'lato-button') %>


      <% end %>

  </div>
</div>

<style>
  .flying-block {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    /*transition: 300ms ease-in-out all;*/
  }
  .action-button{
    font-size: 10px;
  }
  .active{
    opacity: 1;
    pointer-events: all;
  }
  .recover-block .action-button{
    margin-top: 10px;
  }
  .flashes-container{
    top:0px;
  }
</style>

