
  <div class="main-content login">
    <% # Stampa i flash ricevuti dai controller %>
    <%= render 'lato_view/layout/flash' %>

    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <!-- Blocco Login Utente -->
    <div class="content-login">
      <%= form_tag(lato_core.exec_login_path, method: "post", class: 'lato-form') do %>
        <%=raw view(:input).new(type: 'text',
                             name: 'username',
                             label: CORE_LANG['vocabolary']['username']) %>

       <%=raw view(:input).new(type: 'password',
                           name: 'password',
                           label: CORE_LANG['vocabolary']['password']) %>

        <%= submit_tag("Login", class: 'lato-button') %>

        <%= link_to CORE_LANG['vocabolary']['password_forget'], lato_core.password_forget_path, class: 'link-password-forget' %>

      <% end %>
    </div>

  </div>
