<% block = view(:block).new(width: 'third', custom_class: 'flying-block') %>

<div id="admin-wrapper">
  <div class="main-content">
    <% # Stampa i flash ricevuti dai controller %>
    <%= render 'lato_view/layout/flash' %>

    <!-- Blocco recupero password -->
    <%=raw block.open %>

    <p class="recover-guide"><%= CORE_LANG['recover_password']['recover_guide'] %></p>

    <%= form_tag(lato_core.password_recover_path, method: "post", class: 'lato-form') do %>

      <%=raw view(:input).new(type: 'email',
                              name: 'email',
                              label: CORE_LANG['vocabolary']['email']) %>

      <%= submit_tag(CORE_LANG['vocabolary']['send'], class: 'lato-button') %>

      <%= link_to '< ' + CORE_LANG['vocabolary']['login'], lato_core.login_path, class: 'link-back-login' %>

    <% end %>

    <%=raw block.close %>

  </div>
</div>

<style>
  .flying-block {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
  }
  .flashes-container{
    top:0px;
  }
  .link-back-login {
    display: block;
    float: right;
    font-size: 12px;
    margin-top: 30px;
  }
  .recover-guide {
    font-size: 14px;
  }
</style>
