<% block = view(:block).new(width: 'large-4', custom_class: 'flying-block') %>

<div class="main-content login">
  <% # Stampa i flash ricevuti dai controller %>
  <%= render 'lato_view/layout/flash' %>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <!-- Blocco recupero password -->
  <div class="content-login">
    <p class="recover-guide"><%= CORE_LANG['recover_password']['recover_guide_psw'] %></p>

    <%= form_tag(lato_core.password_update_path, method: "post", class: 'lato-form') do %>

    <%=raw view(:input).new(type: 'password',
                        value: '',
                        name: 'password',
                        label: CORE_LANG['vocabolary']['password'],
                        width: 'large',
                        required: true) %>

    <%=raw view(:input).new(type: 'password',
                        value: '',
                        name: 'password_confirmation',
                        label: CORE_LANG['vocabolary']['password_confirmation'],
                        width: 'large',
                        custom_class: 'confirm-password',
                        required: true) %>


     <input type="hidden" value="<%= @user.id %>" name="id">
     <input type="hidden" value="<%= @user.session_code %>" name="token">

     <%= submit_tag(CORE_LANG['vocabolary']['send'], class: 'lato-button') %>

    <% end %>
  </div>

</div>
