<% block = view(:block).new %>

<% searchbar = view(:searchbar).new(elements: @search_superusers,
                            url: lato_core.superusers_path,
                            filter: :username_cont,
                            style: :rounded)  %>

<%=raw view(:actionbar).new(links: [[CORE_LANG['vocabolary']['new'], lato_core.new_superuser_path]],
                            title: CORE_LANG['vocabolary']['users'],
                            widgets: [[searchbar, :right]]) %>

<div class="content-row">
  <%=raw block.open %>


    <%=raw view(:index).new(head: [CORE_LANG['vocabolary']['username'], CORE_LANG['vocabolary']['email']],
                         elements: @superusers,
                         attributes: ['username', 'email'],
                         link: lato_core.superusers_path,
                         show_link: false) %>

    <%= will_paginate @superusers %>

  <%=raw block.close %>
</div>
