<h1><%= core_getApplicationName %></h1>
<h2><%= CORE_LANG['recover_password']['email_intestation'] %></h2>
<p><%= CORE_LANG['recover_password']['email_guide'] %></p>
<p><a href="<%= @recover_url %>"><%= @recover_url %></a></p>
