<%

# Definisco blocco principale
block = view(:block).new()

# Definisco actionbar
actionbar = view(:actionbar).new(title: CORE_LANG['vocabolary']['dashboard'])

%>

<%=raw actionbar %>

<div class="content-row">
  <%=raw block.open(width: 'medium-12 large-6') %>

    <p><b><%= CORE_LANG['welcome'] %></b></p>
    <p><%= CORE_LANG['dashboard'] %></p>

  <%=raw block.close %>
</div>
