<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to <%= core_getApplicationName %>, <%= @user.name %></h1>
    <p>
      You have requested a password reset token,
      your username is: <%= @user.username %>.<br>
    </p>
    <p>
      To change your password, just follow this link:<br><br>
      <%= core_getApplicationURL %><%=root_path%>change_password_form?email=<%= @user.email.downcase %>&token=<%= @code %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
